* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(68, 96, 146);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


nav {
    float: left;
    width: 30%;
    background: rgb(121, 167, 228);
    padding: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li{
    border-bottom: 1px solid rgb(134, 134, 148);
    padding: 1rem 1rem 1rem 1rem;
}

a {
    text-decoration: none;
    color: #fdfdff;
    font-weight: bolder;
    
}

a:hover{
    color: #0d0d0e;
    font-weight: bolder;

}


article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;

}
article p{
    color: #0e225a;
}

h1{
    color: rgb(52, 52, 187);
    font-size: 25px;
}

form div{
    background: #fff;
    border: 1px solid #33f;
    margin: 1rem 2rem;
    padding: 1.5rem;
    /* 1 = top, 2 right, 3 = bottom, 4= left, */
}

[type="text"], [type="email"], textarea, label {
    width: 100%;
    padding: 10px;
    display: block;
}
label{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: #66F;
}

section::after {
    background: #ccc;
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #0e225a;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}